@model AppUser // Specifies that the model for this view is of type User

@{
    ViewData["Title"] = "User Details"; // Sets the title of the view
}

<h1>User Details</h1> <!-- Main heading -->

<table class="table">
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.FacultyID)</strong></td>
        <td>@Html.DisplayFor(model => model.FacultyID)</td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.UserName)</strong></td>
        <td>@Html.DisplayFor(model => model.UserName)</td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.Email)</strong></td>
        <td>@Html.DisplayFor(model => model.Email)</td>
    </tr>
    <tr>
        <td><strong>@Html.DisplayNameFor(model => model.PhoneNumber)</strong></td>
        <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
    </tr>
    @* <tr>
        <td><strong>@Html.DisplayNameFor(model => model.Roles)</strong></td>
        <td>@Html.DisplayFor(model => model.Roles)</td>
    </tr> *@
</table>

<a asp-action="Index" class="btn btn-primary">Back to List</a> <!-- Button/link to navigate back to the list of users -->
