@model IEnumerable<Room>

@{
    ViewData["Title"] = "List of Rooms";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>@ViewData["Title"]</h2> <!-- Display the title of the page -->

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.RoomNo)</th> <!-- Display header for RoomNo -->
                    <th>@Html.DisplayNameFor(model => model.RoomType)</th> <!-- Display header for RoomType -->
                    <th>Actions</th> <!-- Display header for Actions -->
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) @* <!-- Loop through each room in the model --> *@
                {
                    <tr class="text-center">
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.RoomNo) <!-- Display RoomNo for each room -->
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.RoomType) <!-- Display RoomType for each room -->
                        </td>
                        <td class="align-middle">
                            <a href="@Url.Action("Edit", "Room", new { id = item.RoomNo })" class="btn btn-outline-primary">
                                <i class="bi bi-pencil-square"></i> Edit <!-- Edit button with icon -->
                            </a>
                            <a href="@Url.Action("Delete", "Room", new { id = item.RoomNo })" class="btn btn-danger">
                                <i class="bi bi-trash"></i> Delete <!-- Delete button with icon -->
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
