@model IEnumerable<Room>

@{
    ViewData["Title"] = "List of Rooms";
}
<link rel="stylesheet" href="~/css/room.css" />

<div class="container">
    <h1>@ViewData["Title"]</h1> <!-- Display the title of the page -->
</div>

<div class="table-container">
    <div class="col-md-8 offset-md-2">
        <a class="btn btn-primary download-btn" asp-action="ExportCsv">Download Report</a>

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.RoomNo)</th> <!-- Display header for RoomNo -->
                    <th>@Html.DisplayNameFor(model => model.RoomType)</th> <!-- Display header for RoomType -->
                    <th>Actions</th> <!-- Display header for Actions -->
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.RoomNo) <!-- Display RoomNo for each room -->
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.RoomType) <!-- Display RoomType for each room -->
                        </td>
                        <td class="align-middle">
                            <a href="@Url.Action("Edit", "Room", new { RoomNo = item.RoomNo })" class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i> Edit <!-- Edit button with icon -->
                            </a>
                            <a href="@Url.Action("Detail", "Room", new { RoomNo = item.RoomNo })" class="btn btn-info">
                                <i class="bi bi-eye"></i> Detail <!-- Details button with icon -->
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
